
BasedOnStyle: InheritParentConfig

AlignConsecutiveBitFields: true

AlwaysBreakAfterReturnType: TopLevelDefinitions

ColumnLimit: 80

BreakStringLiterals: false

SpaceBeforeParens: ControlStatementsExceptControlMacros
